VITE_EVENTVS_CLIENT_ID=9fa9550c-921f-449e-8ef3-9228e1ff2eb1
VITE_EVENTVS_TENANT_ID=f6c2556a-c4fb-4ab1-a2c7-9e220df11c43
VITE_EVENTVS_API_URL=https://YOUR-FLOW-URL.logic.azure.com/workflows/...
VITE_EVENTVS_API_SCOPE=https://service.flow.microsoft.com//user_impersonation
